@charset "utf-8";
/* base style */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,table,th,td{margin:0; padding:0;}
html{width:100%; border:0; background-color:#fff;}
body,button,input,select,textarea{font:12px/160% tahoma, arial,'微软雅黑','宋体', Helvetica, sans-serif; *line-height:160%; color:#454545;}
img{border:none;}
input,img,select{vertical-align:middle;}
ul,ol{list-style:none;}
h1,h2,h3,h4,h5,h6 {font-size:12px; font-weight:normal;}
a{text-decoration:none; color:#d4a234; cursor:pointer;}
a:hover{color:#ffa500;}
/*font color border*/
.font20{font-size:20px;}
.textGray {color:#999;}
.textOrange{color:orange;}
.radius5{border-radius:5px;}
.textcenter{text-align:center;}
.borderR{border-right: 1px solid #e5d7b8;}
.bgFE0{background-color: #FFFFE0;}
.bgFFF{background-color: #FFF;}
.bgFFa{background-color:orange;}
.bgE5D{background-color:#E5D7B8}
.bgImg{min-height:100vh; background:url('../images/common/bg.jpg') no-repeat center;}
.boxBorder{
    min-height: 120px;
    border: 1px solid #e5d7b8;
    border-radius: 5px;
    margin-bottom: 20px;
}
.btnBorder{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
/* Other */
.fn-clear:after{visibility:hidden; display:block; height:0; content:" "; clear:both; font-size:0;}
.fn-clear{zoom:1; /* for IE6 IE7 */}
.fn-show{display:block;}
.fn-left{float:left; display:inline;}
.fn-right{float:right; display:inline;}
.fn-hide{display:none;}
.fn-relative{position:relative; *zoom:1;}
.fn-fixed{position:fixed;}
/*padding*/
.pdt15{padding-top:15px;}
.pdb30{padding-bottom:30px;}
.pdl15{padding-left:15px;}
.pdl10{padding-left:10px;}
.pdr5{padding-right:5px;}
.pdr15{padding-right:15px;}
/*width*/
.width85{width:85%; box-sizing:border-box;}
.width75{width:75%; box-sizing:border-box;}
.width70{width:70%; box-sizing:border-box;}
.width50{width:50%; box-sizing:border-box;}
.width30{width:30%; box-sizing:border-box;}
.width25{width:25%; box-sizing:border-box;}
.width20{width:20%; box-sizing:border-box;}
.width10{width:10%; box-sizing:border-box;}
/*button*/
.button1{display: inline-block;
    text-align: center;
    padding: 3px 15px;
    background-image: url("../images/common/bgButton.png");
    border-top: 1px solid #e5d7b8;
    border-bottom: 1px solid #e5d7b8;
}
/*line-height*/
.lineH12{line-height:1.2;}
/*table*/
 table{background-color:#fff; border:1px solid #e5d7b8;}
td {padding:6px 15px; text-align:left; border-bottom:1px solid #e5d7b8;}
th{ text-align:left;
    font-size: 14px;
    color: #454545;
    background-image: url("../images/common/bgButton.png");
    border-bottom:1px solid #e5d7b8;
    border-radius: 5px 5px 0px 0px;
    padding: 0px 15px 2px 15px;
    line-height: 2.0;
}
.table1 td{text-align:center;}
.table1 th{text-align:center;}
table,td ,th{border-collapse:collapse;}
/*form*/
.mailList input[type=text],select,form .button{margin:0 20px 20px 0;  border:1px solid #e5d7b8; vertical-align: middle; outline: none;}
.mailList input[type=text]{height:25px; width:200px;  padding:5px 10px;}
.mailList select{height:35px; width:220px;}
.mailList .button{display: inline-block; margin-right:5px; border:1px solid #e5d7b8; padding:0 10px; height:25px; line-height:25px;  background-image: url("../images/common/bgButton.png"); background-repeat:repeat;}



