<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OA系统</title>
  <link rel="stylesheet" href="../css/response.css" type="text/css">
</head>
<body>

<div class="menuContainer">
  <div class="content" style="padding:0px;">
    <table border="0" cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td>
      <img alt="10oa系统" src="../images/oa/10oa.png" style="height:70px;">
    </td><td class="menu">
      <a class="menuChecked" href="javascript:void(0)">首页</a><a href="javascript:void(0)">功能</a><a href="javascript:void(0)">体验</a><a href="javascript:void(0)">价格</a><a href="javascript:void(0)">案例</a><a href="javascript:void(0)">关于</a>
    </td></tr></tbody></table>
  </div>
</div>
  
<div style="background:url(/v8/images/bg.png);background-position:center center;">
  <div class="content" align="center" style="padding-bottom:0px;">
    <h1>全流程驱动的OA系统</h1>
    <a href="javascript:void(0)" class="textBlack textBig" style="display:inline-block;*display:inline;*zoom:1;">管目标</a> • <a href="javascript:void(0)" class="textBlack textBig" style="display:inline-block;*display:inline;*zoom:1;">管信息</a> • <a href="javascript:void(0)" class="textBlack textBig" style="display:inline-block;*display:inline;*zoom:1;">管行政</a> • <a href="javascript:void(0)" class="textBlack textBig" style="display:inline-block;*display:inline;*zoom:1;">管人事</a> • <a href="javascript:void(0)" class="textBlack textBig" style="display:inline-block;*display:inline;*zoom:1;">管财务</a> • <a href="javascript:void(0)" class="textBlack textBig" style="display:inline-block;*display:inline;*zoom:1;">管客户</a> • <a href="javascript:void(0)" class="textBlack textBig" style="display:inline-block;*display:inline;*zoom:1;">管项目</a> • <a href="javascript:void(0)" class="textBlack textBig" style="display:inline-block;*display:inline;*zoom:1;">管库存</a>
    <br><br><img class="contentImage" alt="最受欢迎的OA系统" src="../images/oa/main.png">
  </div>
</div>

<div class="contentContainer">
  <div class="content" align="center">
    <h2><a href="javascript:void(0)"><span class="highlight">100+</span>功能模块，全面协同办公</a></h2><br>
    <div class="block2" style="padding-right:0px;">
      <a href="javascript:void(0)"><img class="contentImage" alt="OA功能模块1" src="../images/oa/function1.png" border="0"></a>
    </div><div class="block2" style="padding-left:0px;">
      <a href="javascript:void(0)"><img class="contentImage" alt="OA功能模块2" src="../images/oa/function2.png" border="0"></a>
    </div>
  </div>
</div>

<div class="contentContainer">
  <div class="content" align="center">
    <h2><a href="javascript:void(0)"><span class="highlight">50+</span>电子流程，全自动规范运作</a></h2><br>
    <div class="block2">
      <br><a href="javascript:void(0)"><img class="contentImage" alt="OA电子流程" src="../images/oa/workflow.png" border="0"></a>
    </div><div class="block2">
      <br><h3><a href="javascript:void(0)" class="textBlack">全面流程化驱动</a></h3>出差、报销、请假、订单等等，超过50种工作流程<br><br>
      <br><h3><a href="javascript:void(0)" class="textBlack">电子单据全自动流转</a></h3>衔接多个办公环节和处理步骤，多人多岗无缝协作<br><br>
      <br><h3><a href="javascript:void(0)" class="textBlack">主动通知和提醒</a></h3>流程运转到哪一步，主动给予桌面通知和App提醒<br><br>
      <br><h3><a href="javascript:void(0)" class="textBlack">辅助填单和规范运作</a></h3>辅助用户填写电子单据，按照预定的规则审批流转
    </div>
  </div>
</div>

<div class="contentContainer">
  <div class="content" align="center">
    <h2><a href="javascript:void(0)"><span class="highlight">24小时</span>移动访问，管理装进口袋</a></h2><br>
    <div class="block2">
      <br><h3><a href="javascript:void(0)" class="textBlack">24小时在线协作</a></h3>PC、笔记本、平板、手机四屏畅通，数据实时同步<br><br>
      <br><h3><a href="javascript:void(0)" class="textBlack">随时随地移动审批</a></h3>即时获得提醒，按需审阅业务明细，一键审批流转<br><br>
      <br><h3><a href="javascript:void(0)" class="textBlack">一线人员手机下单</a></h3>销售和工程等一线人员，在手机上直接拍照和下单<br><br>
      <br><h3><a href="javascript:void(0)" class="textBlack">外勤跟踪和定位</a></h3>了解外勤人员的工作动态，评估和改进工作效果
    </div><div class="block2">
      <br><a href="javascript:void(0)"><img class="contentImage" alt="OA移动办公" src="../images/oa/mobile.png" border="0"></a>
    </div>
  </div>
</div>

<div class="contentContainer">
  <div class="content" align="center">
    <h2><a href="javascript:void(0)"><span class="highlight">10分钟</span>学会使用，极致简约体验</a></h2><br>
    <div class="block2">
      <br><a href="javascript:void(0)"><img class="contentImage" alt="OA界面体验" src="../images/oa/easy.png" border="0"></a>
    </div><div class="block2">
      <br><h3><a href="javascript:void(0)" class="textBlack">平面化、纸张式设计</a></h3>聚焦业务和工作本身，所见即所得，能够直接打印<br><br>
      <br><h3><a href="javascript:void(0)" class="textBlack">最快的界面响应速度</a></h3>采用C++开发的核心引擎，系统具有最高的运行性能<br><br>
      <br><h3><a href="javascript:void(0)" class="textBlack">辅助填写业务单据</a></h3>自动初始化数据，自动计算求和，自动转换大写金额<br><br>
      <br><h3><a href="javascript:void(0)" class="textBlack">单据关联和数据同步</a></h3>在不同单据之间传递数据和关联，大幅减少操作时间
    </div>
  </div>
</div>

<div class="contentContainer">
  <div class="content">
    <h2 align="center"><a href="javascript:void(0)"><span class="highlight">10000+</span>成功客户，口碑最佳</a></h2><br>
    <div class="block2">
      <br><img alt="OA用户" src="../images/oa/user.jpg" style="float:left;width:80px;">
      <div style="margin:10px 0px 0px 85px;">“10oa功能不仅在多、更在于精，帮助我们100多人协同办公，大家用起来很顺手。”<br>—— 凯莱特科技公司总经理 杨凯</div>
      <br><img alt="OA用户" src="../images/oa/user.jpg" style="float:left;width:80px;">
      <div style="margin:10px 0px 0px 85px;">“10oa产品本身技术过硬，流程强大，能支撑我们的关键业务运作，是我们最需要的。”<br>—— 特耐王(中国)集团CIO 钱生中</div>
      <br><img alt="OA用户" src="../images/oa/user.jpg" style="float:left;width:80px;">
      <div style="margin:10px 0px 0px 85px;">“10oa流程管理既有原则性，又有灵活性。在不同岗位间，能把工作自动衔接起来。”<br>—— 上海旅游集散中心信息总监 朱君超</div>
    </div><div class="block2">
      <br><a href="javascript:void(0)"><img class="contentImage" alt="OA成功客户" src="../images/oa/customers1.jpg" border="0"></a>
    </div>
  </div>
</div>

<div class="contentContainer">
  <div class="content">
    <div class="block2">
      <h2>下一步</h2><br>
      <a class="textBig" href="javascript:void(0)"><img src="../images/oa/go.png" border="0"> 浏览功能模块</a><br>
      <a class="textBig" href="javascript:void(0)"><img src="../images/oa/go.png" border="0"> 立即体验和试用</a><br>
      <a class="textBig" href="javascript:void(0)"><img src="../images/oa/go.png" border="0"> 了解如何购买</a><br>
    </div><div class="block2">
      <h2><a class="textBlack" href="javascript:void(0)"><img src="../images/oa/go.png" border="0"> 新闻资讯</a></h2><br>
      <a href="javascript:void(0)" target="_blank"><img src="../images/oa/item.gif" border="0"> 【签约】二进制成功签约温州市龙湾区疾病预防控制中心</a><br>
      <a href="javascript:void(0)" target="_blank"><img src="../images/oa/item.gif" border="0"> 国环有机认证中心的个性化项目管理：10oa系统案例</a><br>
      <a href="javascript:void(0)" target="_blank"><img src="../images/oa/item.gif" border="0"> 互联网+政务典型案例：温州卫生监督所OA系统建设</a><br>
      <a href="javascript:void(0)" target="_blank"><img src="../images/oa/item.gif" border="0"> 办公自动化软件：敢试用才是选型王道</a><br>
      <a href="javascript:void(0)" target="_blank"><img src="../images/oa/item.gif" border="0"> 互联网+政务推动下，如何打造高效服务型政府</a><br>
      <a href="javascript:void(0)" target="_blank"><img src="../images/oa/item.gif" border="0"> “低头族”使用的OA移动办公 哪些亮点最吸引？</a><br>

      <a href="javascript:void(0)" target="_blank"><img src="../images/oa/item.gif" border="0"> 泛微oa怎么样？和10oa比谁更适合？</a><br>
      <a href="javascript:void(0)" target="_blank"><img src="../images/oa/item.gif" border="0"> 钉钉移动办公怎么样？和10oa比呢？</a><br>
      <a href="javascript:void(0)" target="_blank"><img src="../images/oa/item.gif" border="0"> 通达oa怎么样？对比10oa系统呢？</a><br>
      <a href="javascript:void(0)" target="_blank"><img src="../images/oa/item.gif" border="0"> [热] 10oa协同办公系统，广受中小企业欢迎</a><br>
      <a href="javascript:void(0)" target="_blank"><img src="../images/oa/item.gif" border="0"> [热] 荣获中国金软件 • 移动办公领域最佳产品奖</a><br>
      <a href="javascript:void(0)" target="_blank"><img src="../images/oa/item.gif" border="0"> [热] 10oa移动办公系统，将办公室随身携带</a><br>
    </div>
  </div>
</div>

<div style="background:url(../images/oa/city.jpg) center top;color:#dee6ef;">
  <div class="content">
    <div class="block2">
      <h2 class="small">二进制软件有限公司</h2>
        <p><b style="border:1px solid #dee6ef;border-radius:5px;padding:5px 10px;">OA</b> <b style="border:1px solid #dee6ef;border-radius:5px;padding:5px 10px;">BPM</b> <b style="border:1px solid #dee6ef;border-radius:5px;padding:5px 10px;">CRM</b> <b style="border:1px solid #dee6ef;border-radius:5px;padding:5px 10px;">PM</b> <b style="border:1px solid #dee6ef;border-radius:5px;padding:5px 10px;">SCM</b></p>
        <br><div class="textBig"><img src="../images/oa/telephone.png"> 400-888-6160</div>
        <br>固定电话：(025) 84512292，(025) 84512284
        <br>电子邮件：sales@10oa.com
        <br>网站备案：<a href="javascript:void(0)" target="_blank">苏ICP备15023594号</a> | <a href="javascript:void(0)" target="_blank">网站地图</a>

      <br><br>旧版网站：<a href="javascript:void(0)">旧版首页，</a>
        <a href="javascript:void(0)">产品体系，</a>
        <a href="javascript:void(0)">解决方案，</a>
        <a href="javascript:void(0)">在线体验，</a>
        <a href="javascript:void(0)">服务支持，</a>
        <a href="javascript:void(0)">新闻资讯，</a>
        <a href="javascript:void(0)">关于我们</a>

      <br><br>友情链接：<a href="javascript:void(0)" target="_blank">OA系统，</a>
        <a href="javascript:void(0)" target="_blank">局域网监控软件，</a>
        <a href="javascript:void(0)" target="_blank">CRM系统，</a>
        <a href="javascript:void(0)" target="_blank">车间管理，</a>
        <a href="javascript:void(0)" target="_blank">视频会议，</a>
        <a href="javascript:void(0)" target="_blank">ERP，</a>
        <a href="javascript:void(0)" target="_blank">OA论坛，</a>
        <a href="javascript:void(0)" target="_blank">项目管理软件，</a>
        <a href="javascript:void(0)" target="_blank">考试酷，</a>
        <a href="javascript:void(0)" target="_blank">视频会议系统，</a>
        <a href="javascript:void(0)" target="_blank">呼叫中心系统，</a>
        <a href="javascript:void(0)" target="_blank">企业即时通讯，</a>
        <a href="javascript:void(0)" target="_blank">CRM系统，</a>
        <a href="javascript:void(0)" target="_blank">OA选软件，</a>
        <a href="javascript:void(0)" target="_blank">视频会议软件，</a>
        <a href="javascript:void(0)" target="_blank">CRM，</a>
        <a href="javascript:void(0)" target="_blank">软件开发，</a>
    </div>
    <div class="block2" align="right"></div>
  </div>
</div>


</body></html>